@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Staatliches&display=swap');
body{
    font-family: "Staatliches", sans-serif;
    font-size:x-large;
    background-image: linear-gradient(180deg, #A7D397, #90D26D, #A4CE95);
    color: white;
}
button{
    border: #A7D397;
}
#quest{
    font-family: "Staatliches", sans-serif;
    font-size: medium;
    text-align: center;
}
#submit{
    border-radius: 8px;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
#pro{
    font-family: "Balsamiq Sans", sans-serif;
    background-image: none;
    background-color:#A7D397;
    color: black;
}

#circle{
    border-radius: 50%;
}