@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Staatliches&display=swap');
body{
    font-family: "Staatliches", sans-serif;
    font-size:x-large;
    background-color: #A7D397;
    color: white;
}
button{
    border: #A7D397;
}
#quest{
    font-family: "Staatliches", sans-serif;
    font-size: medium;
    text-align: center;
}
#submit{
    border-radius: 8px;
    
}

