<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<meta charset="utf-8">
      <title>Fullscreen Overlay Navigation | CodingNepal</title>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>



</head>


<body>
<input type="checkbox" id="active">
      <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
      <div class="wrapper">
         <ul>
            <li><a href="#">Maps</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Questionaire</a></li>
            <li><a href="contact.html.jinja">Contact</a></li>
            <li><a href="feedback.html.jinja">Feedback</a></li>
         </ul>
      </div>
      <div class="content">
         <div class="title">
            Fullscreen Overlay Navigation Bar
         </div>
         <p>
            using only HTML & CSS
         </p>
      </div>




<div class="card">
  <h2>Contact Us</h2>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>First Name</label>
        <input type="text">
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label>Surname</label>
        <input type="text">
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label>Email</label>
        <input type="text">
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label>Phone</label>
        <input type="text">
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label>Message</label>
        <textarea></textarea>
      </div>
    </div>

    <div class="col">
      <input type="submit" value="Submit">
    </div>
  </div>
</div> 





</body>



</html>













