<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="/static/css/main.css" rel="stylesheet" />
</head>

<body>
    <input type="checkbox" id="active">
      <label for="active" class="menu-btn"><i class="fa-bars"></i></label>
      <div class="wrapper">
        <ul>
            <li><a href="/">Maps</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/aboutus">About</a></li>
            <li><a href="/questionnnaire">Questionaire</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/feedback">Feedback</a></li>
            {% if not current_user.is_authenticated %}
            <hr>
                <li><a href="/signin">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            {% endif %}
        </ul>
      </div>

    <h1>Locations</h1>
    <ol style="text-align: center;">
        {% for location in locations %}
        <li>Name: {{ location.name }}
        <br>
        Address: {{ location.address }}</li>
        <li>Description: {{ location.description }}</li>
        <hr width="500" style="margin:auto">
        {% endfor %}
     


    <h2>Therapists: </h2>


    <h2> Psychiatrist: </h2>


    </ul>
</body>

</html>