<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/L.Control.Locate.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.css">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.min.js"></script>
    <script src="static/js/L.Control.Locate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>

    <style>
        body {
            margin: 0
        }

        #map {
            width: 100vw;
            height: 100vh;
            position: relative; /* Ensure relative positioning for absolute positioning of the button */
        }

        /* Add more CSS as needed */

        /* Modal and loader styles remain unchanged */

        .btn-bottom-left {
            position: absolute;
            bottom: 10px;
            left: 10px;
            z-index: 1000; /* Ensure it's above other elements */
        }
    </style>
</head>

<body>
    <div id="loader"></div>
    <div id="map">

    </div>

    <!-- Modal -->
    <div id="demoModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Steps:</h2>
            <ul>
                <li>1. Wait for your location to load (Red Marker) </li>
                <li>2. Zoom out and find the closest Marker</li>
                <li>3. Click the "Click Here" button and wait for the route</li>
                <!-- Add more instructions as needed -->
            </ul>
            <button onclick="closeModal()">OK</button>
        </div>
    </div>

    <!-- Bootstrap button -->
    <a href="/" class="btn btn-primary btn-bottom-left" >Back Home</a>

    <script>
        // Function to show the modal
        function openModal() {
            document.getElementById('demoModal').style.display = 'block';
        }

        // Function to close the modal
        function closeModal() {
            document.getElementById('demoModal').style.display = 'none';
        }

        // Show the modal when the page loads
        window.onload = function () {
            openModal();
        };
    </script>

    <script>
        var map = L.map('map').fitWorld();

        map.fitBounds([
            [40.727805, -74.0295408],
            [40.6562833, -73.8604929]
        ]);

        L.tileLayer('https://maps.circuitbreakers.tech/styles/basic-preview/512/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        L.control.locate().addTo(map);


        var redIcon = new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });


        map.locate({ setView: true, maxZoom: 16 });


        map.on('locationfound', function (e) {
            L.marker(e.latlng, { icon: redIcon }).addTo(map)
                .bindPopup('Your Location');
                document.getElementById("loader").style.display = 'none';
        });
        map.on('locationerror', function (e){
            document.getElementById("loader").style.display = 'none';
        });



        function setDestination(lat, lng) {
 
            document.getElementById("loader").style.display = 'flex'

            map.locate({
                setView: false,
                maxZoom: 16,
                watch: false,
                enableHighAccuracy: true
            });
            


            map.once('locationfound', function (e) {
                L.Routing.control({
                    waypoints: [
                        L.latLng(e.latitude, e.longitude),
                        L.latLng(lat, lng)
                    ],
                    routeWhileDragging: true
                }).addTo(map);
                document.getElementById("loader").style.display = 'none'
            });
        }

        {% for location in locations %}
        L.marker([{{ location['latitude'] }}, {{ location['longitude']}}])
            .addTo(map)
            .bindPopup("<b>{{ location['name'] }}</b> <p>{{location['description']}} </p> <a href='#' onclick='setDestination({{ location['latitude'] }}, {{ location['longitude'] }})'>Click here</a>");
        {% endfor %}

    </script>
</body>

</html>
